.cognits
{
	color:#696969;
	font-size:23px;
	margin: 15px 10px 10px 10px; 
}
.home
{
	color:#0080FF;
	font-size:20px;
	float:right; 
	margin: -30px 30px 10px 10px; 
}
.buscar
{
	color:#0489B1;
	font-size:17px; 
	float: right;
	margin: -30px 30px 10px 10px; 
}
.cognits_blog
{
	font-size: 40px;
	margin-left: 300px;
}
.titulo
{
	font-size: 22px;
	margin-left: 300px;
	margin-top: -10px;
	margin-bottom: 150px;
}
.subtitle
{
	margin-left: 25px ;
	color: #0489B1;
	font-size: 30px;
	margin-right: 100px;
}
.subtitle4
{
	margin-left: 25px ;
	color: #0489B1;
	font-size: 30px;
	margin-right: 90px;
}
.greatest
{
	margin-left: 25px;
	margin-top: -20px;
	margin-bottom: 25px;
	color: #0489B1;
	font-size: 30px;
}
.subtitle2
{
	margin-left: 25px;
	margin-top: -10px;
	margin-right: 50px;
	color: #0489B1;
	font-size: 30px;
}
.subtitle3
{
	margin-left: 25px;
	margin-top: -10px;
	max-height: 235px;
	margin-bottom: 25px;
}
.post
{
	color:#3366FF;
	text-align: center;
	border-radius: 10%;
	margin-left:1000px;
	margin-top: 40px;
	width:115px;
	height:25px;
	background-color:#E6E8FA;
}
div
{
	margin-top: -19px;

}

.posts
{
	margin-left: 300px;
	margin-right: 100px;
	margin-top: 5px;
	display: none;
}

.posts2
{
	margin-left: 300px;
	margin-right: 100px;
	margin-top: 7px;
	display: none;
}

.posts3
{
	margin-left: 300px;
	margin-right: 100px;
	margin-top: 7px;
	display: none;
}
.boton2
{
	background-color: none;
	margin-left: 270px;
	text-align: left;
	margin-bottom: 50px;
	
	border-radius: 3%;
}
.boton3
{
	background-color: none;
	margin-left: 270px;
	text-align: left;
	margin-bottom: 50px;
	
	border-radius: 3%;
}
.boton4
{
	background-color: none;
	margin-left: 270px;
	text-align: left;
	margin-bottom: 50px;
	
	border-radius: 3%;
}

.post_uno
{
	margin-left: 295px ;
	color: #6E6E6E;
	font-size: 30px;
	margin-right: 50px;
	margin-bottom: 30px;

	display: none;
}

.post_dos
{
	margin-left: 295px ;
	color: #6E6E6E;
	font-size: 30px;
	margin-right: 50px;
	margin-bottom: 30px;

	display: none;
}

.post_tres
{
	margin-left: 295px ;
	color: #6E6E6E;
	font-size: 30px;
	margin-right: 50px;
	margin-bottom: 30px;

	display: none;
}
form {
font-size: 12px;
font-family: Verdana, Arial, Sans-Serif;
display: inline-block;
margin-left: -388px;
margin-top:50px;
}

.boton-comentario-uno {
text-decoration: none;
background: #A4A4A4;
color: #222;
border: 1px outset #CCC;
padding: .1em .5em;
border-radius: 3px;


}

.mensaje_uno {
font-size: 14px;
font-family: Garamond, Times, Serif;
margin-left: 18%;

}
.coment_uno
{
	display: none;

}


.boton-comentario-dos {
text-decoration: none;
background: #A4A4A4;
color: #222;
border: 1px outset #CCC;
padding: .1em .5em;
border-radius: 3px;

}

.mensaje_dos {
font-size: 14px;
font-family: Garamond, Times, Serif;
margin-left: 18%;

}
.coment_dos
{
	display: none;

}

.boton-comentario-tres {
text-decoration: none;
background: #A4A4A4;
color: #222;
border: 1px outset #CCC;
padding: .1em .5em;
border-radius: 3px;

}

.mensaje_tres {
font-size: 14px;
font-family: Garamond, Times, Serif;
margin-left: 18%;

}
.coment_tres
{
	display: none;

}



.boton_post_uno_retorno
{
	margin-left: 600px;
	margin-top: -100px;
	background-color:#A4A4A4;
	border-radius: 5px;
	color:#1C1C1C;
}

.boton_post_dos_retorno
{
	margin-left: 600px;
	margin-top: -100px;
	background-color:#A4A4A4;
	border-radius: 5px;
	color:#1C1C1C;
}

.boton_post_tres_retorno
{
	margin-left: 600px;
	margin-top: -100px;
	background-color:#A4A4A4;
	border-radius: 5px;
	color:#1C1C1C;
}